@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/css?family=Baloo+Paaji);

h1{
    font-family: 'Playfair Display', serif;
    

}
.title{
    text-align: center;
    margin-top: 170px;
    margin-bottom: 170px;
    
}
h2{
    padding-bottom: 20px;

    font-family: 'Nanum Myeongjo', serif;
}
.detail_skill{
margin-bottom: 100px;
}
.detail_skill li{
    list-style: none;
    font-weight: bold;
}
#image{
    width:60%;
    height: 80%;
    /* opacity: 0.5; */
    border-radius: 40px;
    margin-bottom: 200px;
    padding-bottom: 0;
    /* padding-right:50px */
    
}
.container-fluid{
    width:80%;
    
}
.details_menu{
    list-style: none; 
}
.detail{
    opacity: 0;
}
.about_phrase{
    margin-bottom: 80px;
    font-family: 'Nanum Myeongjo', serif;
    list-style: none; 
}
.about_phrase li{
    margin-bottom: 20px;
    list-style: none; 
}


section{
    
    text-align: center;

}
.row #image{
    width:100%;
}
#details{
    font-size: 15px;
    
}

/* go to top button */

.to-top-btn {
    background-color: white;
    padding: 15px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.05), 0 5px 5px 0 rgba(0,0,0,0.05);
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1;
    display: none;
  }
  
